/* ************************************************

	Override Default Preset
	https://vuepress.vuejs.org/config/#palette-styl

************************************************ */

// You can override default preset from the following (using stylus or css)